<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchColor</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Aptos.ttf</string>
		<string>Aptos-Bold.ttf</string>
		<string>Aptos-Light.ttf</string>
		<string>Aptos-SemiBold.ttf</string>
	</array>
</dict>
</plist>
